header
    .top_menu
        .container
            .top-left
                .box-icon
                    img.svg(src="./assets/images/icons/facebook.svg", alt="", srcset="")
                .box-icon
                    img.svg(src="./assets/images/icons/twitter.svg", alt="", srcset="")
                .box-icon
                    img.svg(src="./assets/images/icons/facebook.svg", alt="", srcset="")
                .box-icon
                    img.svg(src="./assets/images/icons/facebook.svg", alt="", srcset="")
                p Need Help? call: 0900 800 900
            .top-right
                a(href="") CUSTOMER SUPPORT
                a(href="") SHIPPING & DELIVERY
                a(href="") 
                    span LOGIN
                a(href="") 
                    span INFO
                .search
                    img.svg(src="./assets/images/icons/search.svg", alt="", srcset="")
    .container
        .logo_header
            .box-logo
                img(src="./assets/images/icons/logo.png", alt="", srcset="")
            .nav-menu
                a(href="") 
                    span HOME
                a(href="") ABOUT
                a(href="") SHOP
                a(href="") BLOG
                a(href="") CONTACT
            .promotions
                a(href="") PROMITIONS
            .cart 
                .cart-icon
                    a(href="")
                        img(src="./assets/images/icons/cart.png", alt="", srcset="")
                .number-icon
                    span 2